@import url(reset.css);

html
{
	background: #f0f0f0 url("../images/texture.png");
	padding: 50px;
}

body
{
	font: normal 14px/21px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

section
{
	width: 960px;
	margin: 0 auto;

	background: #fff;
	color: #666;
	border: 1px solid #bbb;

	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

nav
{
    width: 100%;
    
    border-radius: 9px 9px 0px 0px / 9px 9px 0px 0px;
    background: #707070;
    background: -o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -o-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -o-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) .2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, .2) 100%), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -moz-linear-gradient(bottom, #666 0, #5e5e5e 50%, #707070 51%, #808080 100%);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .2)), color-stop(0.05, rgba(0, 0, 0, 0)), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .45))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, .2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .2))), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRF…x%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC') no-repeat 50% 50%, -webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));
    
    -khtml-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    -ms-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    -o-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
    box-shadow: rgba(0,0,0,0.3) 0 1px 2px;
}

#globalheader #globalnav li:first-child a { border-width:0 2px 0 0;
	-moz-border-radius:9px 0 0 0px; -webkit-border-top-left-radius:9px; -webkit-border-bottom-left-radius:0px; border-radius:9px 0 0 0px;
}
#globalheader #globalnav:last-child li:last-child a { border-width:0 0 0 1px; -moz-border-radius:0 9px 0px 0; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; border-radius:0 4px 4px 0; }


#globalheader #globalnav {
    display: table;
    float: left;
    width: 628px;
    table-layout: fixed;
}

#globalheader ul {
    margin: 0px;
}

#globalheader #globalnav li {
    display: table-cell;
    width: 100%;
    overflow: hidden;
}

#globalnav li a {
    width:auto;
    display: block;
    float: none;
    text-decoration: none;
    border-width: 0 2px 0 1px;
    border-style: solid;
    -o-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
    -ms-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
    -moz-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
    -webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D') 0 2 0 1;
}

nav, #globalnav li, #globalnav li a {
    height: 36px;
}

/* tab hover & active state */
#globalheader #globalnav li a:hover,
#globalheader #globalnav li a:focus,
#globalheader #globalnav li#gn-apple a:hover,
#globalheader #globalnav li#gn-apple a:focus,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:focus,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:hover,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:focus,
#globalheader #globalnav.nosearch       li.gn-last a:hover,
#globalheader #globalnav.nosearch       li.gn-last a:focus {
	-o-border-image:      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4L8TA8F%2FovxAADsEDNFWY%2FFQAAAAASUVORK5CYII%3D') 0 2 0 1;
	-ms-border-image:     url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4L8TA8F%2FovxAADsEDNFWY%2FFQAAAAASUVORK5CYII%3D') 0 2 0 1;
	-moz-border-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4L8TA8F%2FovxAADsEDNFWY%2FFQAAAAASUVORK5CYII%3D') 0 2 0 1;
	-webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4L8TA8F%2FovxAADsEDNFWY%2FFQAAAAASUVORK5CYII%3D') 0 2 0 1; 
	background:#575757; background:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQVQIW2P4L8zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC') repeat-x 0 0,
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D') repeat-y 100% 0,
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAEklEQVQIW2P8L8TwDwn%2Bh0MGAKnjDAIoAAlcAAAAAElFTkSuQmCC') repeat-y 0 0,
		rgba(0, 0, 0, .4)
	;
}

#globalheader #globalnav li a:active,
#globalheader #globalnav li#gn-apple a:active,
#globalheader #globalnav.tabs6-nosearch li.gn-last a:active,
#globalheader #globalnav.tabs7-nosearch li.gn-last a:active,
#globalheader #globalnav.nosearch       li.gn-last a:active {
	-o-border-image:      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWNgWMDAoFDDsAAABv0B3XOLOeEAAAAASUVORK5CYII%3D') 0 2 0 1;
	-ms-border-image:     url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWNgWMDAoFDDsAAABv0B3XOLOeEAAAAASUVORK5CYII%3D') 0 2 0 1;
	-moz-border-image:    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWNgWMDAoFDDsAAABv0B3XOLOeEAAAAASUVORK5CYII%3D') 0 2 0 1;
	-webkit-border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWNgWMDAoFDDsAAABv0B3XOLOeEAAAAASUVORK5CYII%3D') 0 2 0 1;
	background:#454545; background:
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAGCAQAAACoGTy6AAAAF0lEQVQIHWNhOMTCcJ2F4SyYfMTC8BoAKm8FI0rGpqcAAAAASUVORK5CYII%3D') repeat-x 100% 0,
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAQAAACx6dw%2FAAAAD0lEQVQIHWNgYGTgZlAAAABNAC0BZt40AAAAAElFTkSuQmCC') repeat-y 100% 0,
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWNgcGBQYOBmYAQAAosAbdRXg8oAAAAASUVORK5CYII%3D') repeat-y 0 0,
		rgba(0, 0, 0, .4);
}

#globalheader #globalnav li a.store
{
    -o-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADklEQVQIHWNg8GUAAV8AAnEAm4WyilcAAAAASUVORK5CYII%3D") 0 2 0 1;
    -ms-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADklEQVQIHWNg8GUAAV8AAnEAm4WyilcAAAAASUVORK5CYII%3D") 0 2 0 1;
    -moz-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADklEQVQIHWNg8GUAAV8AAnEAm4WyilcAAAAASUVORK5CYII%3D") 0 2 0 1;
    -webkit-border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAADklEQVQIHWNg8GUAAV8AAnEAm4WyilcAAAAASUVORK5CYII%3D") 0 2 0 1;
    background: -moz-linear-gradient(top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 10%,rgba(0,0,0,0) 100%),-moz-linear-gradient(top,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 30%,rgba(0,0,0,0) 70%,rgba(0,0,0,.2) 100%),-moz-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(0,0,0,.2) 100%),-moz-linear-gradient(top,rgba(30,30,30,1) 0,rgba(75,75,75,1) 97%,rgba(0,0,0,0) 97%,rgba(0,0,0,.45) 100%);
    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),color-stop(.1,rgba(0,0,0,0)),to(rgba(0,0,0,0))),-webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.2)),color-stop(.3,rgba(0,0,0,0)),color-stop(.7,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),-webkit-gradient(linear,0 0,100% 0,from(rgba(0,0,0,.2)),color-stop(.2,rgba(0,0,0,0)),color-stop(.8,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),-webkit-gradient(linear,0 0,0 100%,from(rgba(47,47,47,1)),color-stop(0.97,rgba(75,75,75,1)),color-stop(0.97,rgba(0,0,0,0)),to(rgba(0,0,0,.45)));
    background-size: auto;
}

#globalheader #globalnav li a {
    text-indent: -9999px;
    cursor: pointer;
}

#globalheader #globalnav li a.store span 
{
    background-position: 50% -30px;
}

#globalheader #globalnav li a span {
    display: block;
    width: 100%;
    height: 30px;
    background-size: 160px auto;
    background-position: 50% 0;
    background-repeat: no-repeat;
}

#globalheader #globalnav li a span {
    background-image: url(http://store.storeimages.cdn-apple.com/3250/as-images.apple.com/is/image/AppleInc/globalnav-text?wid=160&hei=240&fmt=png-alpha&.v=1347915994458);
}


article
{
	width: 620px;
	margin: 0 auto;
	padding: 100px 0;
}

h1
{
	font-size: 56px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 36px;
	color: #000;
}

h2
{
	font-size: 28px;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 21px;
	color: #000;
}

h3
{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.4;
	margin-bottom: 18px;
	color: #000;
}

h4
{
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 18px;
	color: #000;
}

h5
{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 9px;
	color: #000;
}

ul
{
	list-style: disc outside none;
	margin-left: 36px;
}

ol
{
	list-style: decimal outside none;
	margin-left: 36px;
}

li
{
	padding-bottom: 18px;
}

p
{
	margin-bottom: 18px;
}

a
{
	color: #08c;
}

a:link, a:visited, a:active
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

code
{
	font-family: "Menlo", "Monaco", "Courier", monospace;
	color: #333;
	line-height: 100%;
}

code a
{
	text-decoration: underline;
}

strong
{
	font-weight: bold;
	color: #000;
}

em
{
	font-style: italic;
}

blockquote
{
	margin: 36px;
}

pre
{
	display: block;
	width: 620px;
	margin: 0 -9px 18px;
	padding: 9px;
	overflow: auto;

	font-family: "Menlo", "Monaco", "Courier", monospace;
	font-size: 12px;
	line-height: 16px;

	background: #fbfbfb;
	color: #333;
	border: 1px solid #ccc;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
}

pre.no-border
{
	margin: 18px 0;
	padding: 0;
	border: 0;
	
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;

	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;	
}

figure
{
	position: relative;
	width: 880px;
	left: -130px;
	right: -130px;
	margin: 36px 0;
}

figure.image
{
	text-align: center;
}

figure pre
{
	margin: 0 auto 18px;
}

figcaption
{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #999;
	margin: 0;
	padding: 0 0 5px 0;
}

hr
{
	background: url("hr.png") no-repeat scroll 50% 50% transparent;
	border: 0;
	height: 5px;
	margin: 54px -18px 36px;
}

aside
{
	display: block;
	margin: 18px -9px;
	padding: 9px;

	background: #fbfbfb;
	color: #333;
	border: 1px solid #ccc;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);	
}

aside h3
{
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 3px;
	padding: 0;
	color: #333;
}

aside p, aside li, aside blockquote
{
	font-size: 12px;
	line-height: 18px;
	color: #666;
	margin-bottom: 9px;
}

aside p:last-child
{
	margin-bottom: 0;
}

aside li
{
	padding-bottom: 3px;
}

aside blockquote
{
	margin: 12px 18px;
}

table
{
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	margin-bottom: 18px;
}

th
{
	padding: 3px 6px;
	font-weight: bold;
}

td
{
	padding: 3px 6px;
	border: 1px solid #ccc;
}

span.enlarge-image
{
	display: block;
	text-align: center;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

span.enlarge-image a
{
	color: #999;
}

#topheader
{
    color: #bbb;
    font-size: 36px;
    font-weight: normal;
    line-height: 1;
}


